.list-chooser {
	width: 100%;
	max-width: 300px;
	min-width: 200px;
}

.heading-list {
	display: flex;
	justify-content: space-between;
	padding: 0 5em;
	flex-wrap: wrap;
	align-items: center;
}

.heading-list-row {
	width: 100%;
}

@media (max-width: 400px) {
	.list-chooser {
		font-size: 1em;
		color: yellow;
	}
	h2 {
		font-size: 1em;
		color: yellow;
		letter-spacing: 0;
	}
}
